.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-block: 10px;
}

.search-input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.search-icon {
    font-size: 18px;
}