.sidebar {
    width: 200px;
    height: 100vh;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    scrollbar-color: #ffffff #ffffff;
}

.sidebar-header,
.menu-section {
    margin-bottom: 20px;
}

.menu-toggle-icon {
    padding-inline: 20px 50px;
}


.sidemenu {
    display: flex;
    flex-direction: column;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-header {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-item .menu-icon {
    font-size: 25px;
    margin-right: 15px;
}

.menu-item span {
    font-size: 17px;
}

hr {
    border: none;
    height: 1px;
    background-color: #303030;
    margin: 10px 20px;
}